body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: black;
    color: white;
}

.ladoEsquerdo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black; /* Preto */
    padding: 20px;
    gap: 20px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    border-bottom:2px gold solid;
    height: 10vh;

}

.header h1 {
    color: #d4af37; 
    margin: 0;
    font-size: 2em;
    font-family: 'ADLaM Display';
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.header a:hover {
    color: #d4af37; 
}

.caixa-login {
    width: 70%;
    padding: 20px;
    border: 2px solid #d4af37; 
    border-radius: 8px;
    background-color: black; 
}

.caixa-login h1 {
    text-align: center;
    color: #d4af37; 
    margin-bottom: 20px;
}

.caixa-login form {
    display: flex;
    flex-direction: column;
}

.caixa-login label {
    margin-bottom: 5px;
    font-size: 14px;
}

.caixa-login input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #d4af37;
    border-radius: 4px;
    background-color: #fff; 
    color: #000; 
}

.caixa-login button {
    padding: 10px;
    background-color: #d4af37; 
    color: #000; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.caixa-login button:hover {
    background-color: #b8860b;
}

.ladoDireito {
    width: 50%;
    background-image: url('https://img.freepik.com/fotos-gratis/jogador-de-futebol-masculino-com-bola-no-campo-de-grama_23-2150821530.jpg'); 
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    border-left: 3px gold solid;
}
p{
    text-align: center;
}
a{
    text-decoration: none;
    color: gold;
}

