
body{
    margin: 0;
    
}
a{
    text-decoration: none;
    font-family: 'Andada Pro';
    font-size: x-large;
    color: white ;
}
.header{
    background-image: url(../imagens/image\ 5.png);
    height: 110vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
 .header h1{
    color: rgba(133, 122, 44, 1);
    font-family: 'ADLaM Display';
    font-size: 280%;
    height: 40%;
    width: 30%;
 
 
}
.header .vibes{
    color: white;
}
.ParteCima{
    height: 20%%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16%;
}
.ParteCima img{
    height: 100%;
    width: 40%;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35%;
    margin-left: 10%;
}
.CirculoAmarelo{
    background-color: rgba(133, 122, 44, 1);
    height: 6vh;
    width: 121%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.ParteBaixo{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
}
.ParteBaixo .bemVindo{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.ParteBaixo .bemVindo p{
    color: white;
    font-family: 'Abril Fatface';
    font-size: 200%;
}
.ParteBaixo .texto{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.ParteBaixo .texto p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 152%;
    margin-left: 19px;
    color: white;
    text-align: center;
    width: 70%;   

}