.Sobre{
    height: 60vh;
    width: 100%;
    background-color: rgba(133, 122, 44, 1);
    display: flex;
    flex-direction: row;
    border-bottom: 3px gold solid;
}
.Sobre .filho{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 16%;
}
.Sobre .filho h1{
    font-family: 'ADLaM Display';
    font-size: 250%;
    text-align: center;
    color: white;

}
.Sobre .filho button{
    height: 30%;
    width: 40%;
    background-color: black;
    border-radius: 20px;
    border: 2px gold solid;
    color: white;
}
.Sobre .filho button:hover{
    height: 30%;
    width: 40%;
    background-color: gold;
    border-radius: 20px;
    border: 2px gold solid;
    color: white;
}
.Sobre .filho2{
    height: 100%;
    width: 50%;
    display: flex;
}
.Sobre .filho2 .texto{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content:  start;
color: white;
}
.Sobre .filho2 .texto {
    text-align: center;
    font-size: 200%;
    margin-right: 20px;

}
 

.Curiosidades {
    background-color: black;
    height: 80vh;
    width: 100%;
    display: flex;
    border-bottom: 3px gold solid;
    flex-direction: column;
}

.Curiosidades .acessoCuriosidades {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.Curiosidades .texto {
    color: gold;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Curiosidades .texto p{
    color: white;
    font-size: 278%;
    margin: 0;
}
 .cardCopaDoMundo{
    background-image: url(../imagens/CopaDoMundo.png);
    background-size: 105%;
    width: 21%;
    height: 92%;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;;
    border: 3px gold solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    filter: grayscale(1);
}
.cardCopaDoMundo p{
    visibility: hidden;
}
.cardCopaDoMundo:hover p{
    visibility: visible;
    color: white;
    text-shadow: 
    -1px -1px 0 #000000,  /* sombra no canto superior esquerdo */
    1px -1px 0 #000,   /* sombra no canto superior direito */
    -1px 1px 0 #000,   /* sombra no canto inferior esquerdo */
    1px 1px 0 #000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s;
    font-size: 150%;

}
.cardCopaDoMundo:hover{
    filter: grayscale(0);
    transition: 0.5s;
}

 .cardChampions{
    background-image: url(../imagens/image\ 3.png);
    background-size: 105%;
    width: 21%;
    height: 92%;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1);
    border: 3px gold solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardChampions p{
    visibility: hidden;
}
.cardChampions:hover p{
    visibility: visible;
    color: white;
    text-shadow: 
    -1px -1px 0 #000000,  /* sombra no canto superior esquerdo */
    1px -1px 0 #000,   /* sombra no canto superior direito */
    -1px 1px 0 #000,   /* sombra no canto inferior esquerdo */
    1px 1px 0 #000;

    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
    font-size: 150%;

}
.cardChampions:hover{
    filter: grayscale(0);
    transition: 0.5s;
}
.cardLibertadores{
    background-image: url(../imagens/image\ 4.png);
    background-size: 101%;
    width: 21%;
    height: 92%;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1);
    border: 3px  gold solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.cardLibertadores p{
    visibility: hidden;
}
.cardLibertadores:hover{
    filter: grayscale(0);
    transition: 0.5s;
}
.cardLibertadores:hover p{
    visibility: visible;
    color: white;
    text-shadow: 
    -1px -1px 0 #000000,  /* sombra no canto superior esquerdo */
    1px -1px 0 #000,   /* sombra no canto superior direito */
    -1px 1px 0 #000,   /* sombra no canto inferior esquerdo */
    1px 1px 0 #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
    font-size: 150%;
} 
