.Futebol {
    height: 539px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-top: 3px black solid;
}

.futebol1 {
    height: 539px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.futebol1 video {
    height: 444px;
    width: 80%;
}

.futebol2 {
    height: 539px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.futebol2 .texto {
    margin-top: -47px;
    width: 100%;
    height: 394px;
    font-size: 30px;
}


.Sobre {
    background-color: rgba(28, 211, 40, 1);
    height: 60vh;
    width: 100%;
    display: flex;
    border: 3px black solid;
}

.Sobre .filho {

    height: 60vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.Sobre .filho button {
    height: 15vh;
    width: 55%;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.Sobre .filho2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 50%;

}

.Sobre .filho2 .texto {
    font-size: 180%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-left: 3%;
    margin-bottom: 20%;
    font-size: 202%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Curiosidades {
    background-color: white;
    height: 80vh;
    width: 100%;
    display: flex;
    border-bottom: 3px black solid;
    flex-direction: column;
}

.Curiosidades .acessoCuriosidades {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.Curiosidades .texto {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Curiosidades .texto p{
    color: black;
    font-size: 278%;
    margin: 0;
}
.cardCopaDoMundo{
    background-image: url(../imagens/image\ 1.png);
    background-size: 105%;
    width: 21%;
    height: 92%;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;;
    border: 3px rgba(28, 211, 40, 1) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.cardCopaDoMundo p{
    visibility: hidden;
}
.cardCopaDoMundo:hover p{
    visibility: visible;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s;
    font-size: 150%;

}
.cardCopaDoMundo:hover{
    filter: brightness(50%);
    transition: 0.5s;
}

.cardChampions{
    background-image: url(../imagens/image\ 3.png);
    background-size: 105%;
    width: 21%;
    height: 92%;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1);
    border: 3px rgba(28, 211, 40, 1) solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardChampions p{
    visibility: hidden;
}
.cardChampions:hover p{
    visibility: visible;
    color: black;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
    font-size: 150%;

}
.cardChampions:hover{
    filter: grayscale(0);
    transition: 0.5s;
}
.cardLibertadores{
    background-image: url(../imagens/image\ 4.png);
    background-size: 101%;
    width: 21%;
    height: 92%;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1);
    border: 3px rgba(28, 211, 40, 1) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.cardLibertadores p{
    visibility: hidden;
}
.cardLibertadores:hover{
    filter: grayscale(0);
    transition: 0.5s;
}
.cardLibertadores:hover p{
    visibility: visible;
    color: black;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
    font-size: 150%;
}

